@use "../util" as u;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: var(--ff-base);
  font-size: var(--fs-Xsmall);
  font-weight: var(--fw-400);
  color: var(--white);
  background-color: var(--main-background);
  line-height: 1.7;
}

img,
svg {
  max-width: 100%;
}

a {
  color: var(--white);
}
