.email-field {
  background-color: var(--email-signUp-background);
  padding: 30px;
  text-align: center;
  margin-block-start: 160px;
  max-width: 700px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: 120px;
  left: 0;

  .sign-form {
    display: grid;
    align-items: center;
    gap: 10px;

    @media (min-width: 600px) {
      display: flex;
    }
    &__input {
      p {
        display: flex;
        justify-content: flex-start;
        color: var(--error);
      }

      input {
        width: 300px;
        outline: 0;
        border: 0;
        font-weight: var(--fw-700);
        font-size: var(--fs-medium);
        padding-inline-start: 20px;
        border-radius: 30px;
        margin-block-end: 20px;

        @media (min-width: 600px) {
          width: 350px;
        }
      }
    }

    .button {
      margin-block-end: 22px;
      border: 0;
      border-radius: 30px;
      background: linear-gradient(
        to right,
        var(--gradient-1),
        var(--gradient-2)
      );
      color: var(--white);
      padding: 10px 30px;
    }
  }
}
